.marcas__images {
  display: flex;
  flex-direction: column;
  gap: 80px;
  overflow: hidden;
}

.marcas-images__container {
  position: relative;
}

.marcas__banner,
.news__logos {
  display: flex;
  gap: 45px;
  align-items: center;

  img {
    width: auto;
    height: 5.5rem;
    max-width: none;
    // background-color: yellow;
    opacity: .5;
  }
}

.marcas__banner {
  padding-block: 20px;
  background-color: white;
}

.marcas__banner > img {
  height: 140px;
  width: 218px;
}

.marcas__banner--to-left > .news__logos {
  animation: banner-to-left 16s linear infinite;
}

.marcas__banner--to-right {
  justify-content: flex-end;
}

.marcas__banner--to-right > .news__logos {
  animation: banner-to-right 16s linear infinite;
}

@keyframes banner-to-left {
  to {
    transform: translateX(calc(-100% - 40px));
  }
}

@keyframes banner-to-right {
  to {
    transform: translateX(calc(100% + 40px));
  }
}
