#wrapper-vision {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;


    /* Imágenes de fondo */
    .bg-image {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        object-fit: cover;
    }

    .img-2,
    .img-3 {
        opacity: 0;
    }


    /* Textos */
    .vision-texts__container {
        position: relative;
        margin-top: 80px;
        width: 95%;
        max-width: 1200px;
        min-height: 200px;
        margin-inline: auto;
        padding: 20px 40px;

        .vision-text__container {

            /* .vision-text-1, */
            .vision-text-2,
            .vision-text-3 {
                opacity: 0;
                display: none;
            }

        }
    }

    /* Logo */
    .vision-logo__container {
        position: relative;
        width: 100%;
        height: 300px;

        .vision-logo-dahan {
            position: absolute;
            right: 0;
            height: 300px;
            aspect-ratio: 1;
            object-fit: contain;
        }

    }
}

.reset-translate {
    transform: translate(0) !important;
}