@charset "UTF-8";
#wrapper-vision {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Imágenes de fondo */
  /* Titulo */
  /* Textos */
  /* Logo */
}
#wrapper-vision .bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
  opacity: 0.75;
}
#wrapper-vision .img-2,
#wrapper-vision .img-3 {
  opacity: 0;
}
#wrapper-vision .vision__title {
  color: var(--cd1-1);
  text-transform: uppercase;
}
#wrapper-vision .vision-texts__container {
  /* Centrar textos en el container */
  display: flex;
  align-items: center;
  position: relative;
  background: transparent url(../img/radial-bg-w.svg) center;
  background-size: cover;
  margin-top: 60px;
  width: 95%;
  max-width: 1200px;
  min-height: 200px;
  margin-inline: auto;
  padding: 20px 40px;
}
@media screen and (max-width: 720px) {
  #wrapper-vision .vision-texts__container {
    min-height: auto;
  }
}
#wrapper-vision .vision-texts__container .vision-text__container {
  /* .vision-text-1, */
}
#wrapper-vision .vision-texts__container .vision-text__container .vision-text-1 h3 {
  color: var(--cd1-1);
  font-size: clamp(1.25rem, 2.5vw, 1.875rem);
  font-weight: 600;
  /* Aplicamos un width porcentual en base al transform scaleX */
  width: 75%;
  transform: scaleX(1.25);
  transform-origin: 0 0;
  margin-bottom: 1.875rem;
}
#wrapper-vision .vision-texts__container .vision-text__container .vision-text-2 h4 {
  color: var(--cd1-1);
  font-size: clamp(1rem, 2.5vw, 1.375rem);
  font-weight: 600;
  letter-spacing: 0.015ch;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 1.875rem;
}
#wrapper-vision .vision-texts__container .vision-text__container .vision-text-1 p,
#wrapper-vision .vision-texts__container .vision-text__container .vision-text-2 p,
#wrapper-vision .vision-texts__container .vision-text__container .vision-text-3 p {
  color: var(--cd1-1);
  text-align: justify;
  font-size: clamp(14px, 2.5vw, 16px);
  font-weight: 600;
  line-height: clamp(20px, 2.5vw, 22px);
}
#wrapper-vision .vision-texts__container .vision-text__container .vision-text-3 p:first-of-type {
  margin-bottom: 1.875rem;
}
#wrapper-vision .vision-texts__container .vision-text__container .vision-text-2,
#wrapper-vision .vision-texts__container .vision-text__container .vision-text-3 {
  opacity: 0;
  display: none;
}
#wrapper-vision .vision-logo__container {
  --image-height: 200px;
  position: relative;
  width: 100%;
  height: var(--image-height);
  padding: 0 83px;
}
@media screen and (max-width: 720px) {
  #wrapper-vision .vision-logo__container {
    --image-height: 120px;
  }
}
#wrapper-vision .vision-logo__container .vision-logo__wrapper {
  position: relative;
}
#wrapper-vision .vision-logo__container .vision-logo__wrapper .vision-logo-dahan {
  position: absolute;
  right: 0;
  height: var(--image-height);
  aspect-ratio: 1;
  object-fit: contain;
}
@media screen and (max-width: 720px) {
  #wrapper-vision .vision-logo__container .vision-logo__wrapper .vision-logo-dahan {
    right: 50%;
    translate: 50% 0;
  }
}

.reset-translate {
  transform: translate(0) !important;
}

/*# sourceMappingURL=vision.css.map */
